@import url('https://fonts.googleapis.com/css2?family=Genos:wght@200&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Genos', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

:root {
  --background-color: #fdf0d5;
  --text-color: #c1121f;
}